.login {
  align-items: center;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:after,
  &:before {
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:after {
    background-color: rgba(255, 255, 255, 0.60);;
    z-index: 2;
  }

  &:before {
    background-image: inherit;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 1;
  }

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:  center;
    position: relative;
    z-index: 3;
  }

  & .login__auth-text {
    padding: 14px 32px;
    border-radius: 8px;
    border: #ddd solid 2px;
  }

  &__slogan {
    color: white;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2em;
    margin: 80px 0;
    padding: 0;
    text-align: center;
  
    & strong {
      color: rgb(67, 208, 194);
    }
  }

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    justify-content: flex-end;
    width: calc(100% + 100px);

    &:after {
      background-color: transparent;
      box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.1);
      background: linear-gradient(to right, rgba(83, 189, 180, 1), rgba(83, 189, 180, 0.50));
    }

    & .container {
      background: rgb(255, 255, 255);
      display: flex;
      height: 100%;
      margin: 0;
      position: fixed;
      left: 0;
      width: 400px;
      transition: 0.5s;
    }

    &__microcopy {
      color: white;
      font-size: 32px;
      line-height: 1.2em;
      text-align: center;

      & strong {
        display: block;
      }
    }
  }

  & .arvore-logo {
    display: flex;
    align-items: center;
    width: 180px;
    margin-bottom: 10px;
  }

  &__auth-button {
    margin-top: 10px;
    background-color: rgb(67, 208, 194);
    border-radius: 50px;
    border: 1px solid rgb(67, 208, 194);
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    padding: 15px 50px;
    position: relative;
    text-transform: uppercase;
    transition: all .2s cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}
