.Container {
    margin: 5px 5px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 2%;
    overflow: hidden;

    background: #ffffff;

    -webkit-box-shadow: 10px 10px 84px -31px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 84px -31px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 84px -31px rgba(0,0,0,0.75);
}